/* ******************************
*  Stylesheet for Screened Devices
*  Created by: Put your name here
*  
*  1.  Includes (fonts and supplementary stylesheets)
*  1.1 Normalize
*  1.2 Google fonts
*
*  2.  General Styles (for all pages and devices)
*
*  3.  Mobile First (styles specific to small screens)
*
*  4.  Large Screen Styles (Media Queries begin here)
*
* ****************************** */

/* Imports */
@import url("https://fonts.googleapis.com/css?family=Sansita");
@import url("normalize.css");

/* General */

body {
  font-size: 1.5em;
  font-family: Helvetica, Arial, sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

header,
footer {
  background-color: #0e89d5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sansita", sans-serif;
}

#page-header img {
  width: 50px;
}

#page-header h1 {
  font-size: 1.5em;
}

#page-nav {
  position: fixed;
  width: 100%;
  z-index: 1;
  bottom: 0;
  left: 0;
  background-color: #0e89d5;
}

#page-nav ul {
  display: flex;
  font-size: 1rem;
  justify-content: space-evenly;
}

#page-nav ul li a {
  color: #ffffff;
  text-decoration: none;
}

ul li {
  display: inline-block;
  list-style: none;
}

ul {
  padding: 0;
  list-style-type: none;
}

li {
  display: inline;
}

footer {
  margin-bottom: 2.5em;
}

.hide {
  display: none;
}

.tile {
  background-color: rgba(200, 200, 200, 0.6);
  margin: 0.2em auto;
  padding: 20px;
  border: 1px solid;
  border-radius: 15px;
  text-align: center;
}

#main-content {
  padding-top: 80px;
}

#site-brand {
  display: inline;
  font-size: 2em;
  font-weight: 600;
}

#temps h3 {
  margin: 0;
  font-size: 5em;
}

#high {
  color: red;
}

#low {
  color: blue;
}

#windContainer li {
  display: block;
}

.container {
  position: relative;
  text-align: center;
}

#curWeather {
  background-size: cover;
}

#dial {
  height: 150px;
  width: 150px;
  background: no-repeat center/85% url("../images/wind-pointer.png");
  z-index: 100;
  margin: -0.6em auto 0;
}

.n {
  transform: rotate(0deg);
}

.ne {
  transform: rotate(45deg);
}

.e {
  transform: rotate(90deg);
}

.se {
  transform: rotate(135deg);
}

.s {
  transform: rotate(180deg);
}

.sw {
  transform: rotate(225deg);
}

.w {
  transform: rotate(270deg);
}

.nw {
  transform: rotate(315deg);
}

.container p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#hourly {
  width: 100%;
}

#hourly ul {
  white-space: nowrap;
  overflow-x: scroll;
}

/* Mobile */
#summary img {
  width: 100%;
}

/* Mobile Background pictures for summary */
.background-clear {
  background-image: url("../images/clear-small.jpg");
}

.background-rain {
  background-image: url("../images/rain-small.jpg");
}

.background-snow {
  background-image: url("../images/snow-small.jpg");
}

.background-clouds {
  background-image: url("../images/clouds-small.jpg");
}

.background-fog {
  background-image: url("../images/fog-small.jpg");
}

.clear {
  content: url("../images/clear-small.jpg");
}

.rain {
  content: url("../images/rain-small.jpg");
}

.snow {
  content: url("../images/snow-small.jpg");
}

.clouds {
  content: url("../images/clouds-small.jpg");
}

.fog {
  content: url("../images/fog-small.jpg");
}

/* Larger Devices */
@media screen and (min-width: 425px) {
  #summary img {
    max-width: 400px;
  }
}

@media screen and (min-width: 750px) {
  #page-nav ul {
    font-size: 2rem;
  }

  footer {
    margin-bottom: 4.5em;
  }
}

@media screen and (min-width: 986px) {
  /* Mobile Background pictures for summary */
  .background-clear {
    background-image: url("../images/clear-large.jpg");
  }

  .background-rain {
    background-image: url("../images/rain-large.jpg");
  }

  .background-snow {
    background-image: url("../images/snow-large.jpg");
  }

  .background-clouds {
    background-image: url("../images/clouds-large.jpg");
  }

  .background-fog {
    background-image: url("../images/fog-large.jpg");
  }

  .clear {
    content: url("../images/clear-large.jpg");
  }

  .rain {
    content: url("../images/rain-large.jpg");
  }

  .snow {
    content: url("../images/snow-large.jpg");
  }

  .clouds {
    content: url("../images/clouds-large.jpg");
  }

  .fog {
    content: url("../images/fog-large.jpg");
  }

  #temps,
  #windContainer,
  #summary {
    width: 33%;
  }

  #curWeather {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #page-nav {
    position: absolute;
    bottom: unset;
    left: unset;
  }

  footer {
    margin-bottom: 0;
  }
}
