/* Resets */

html, body {
  height: 100%;
}

body {
  margin: 0;
}

/* Typography */

h1, h2, h3 {
  font-family: 'Roboto';
  text-align: center;
  font-variant-caps: all-petite-caps;
}

ul, li, p {
  font-family: 'Roboto';
}

.box {
  color: #ffffff;
  padding: 10px 10px;
}

/* General Styles */

ul {
  list-style-type: none;
}

