.container {
  display: grid;
  grid-template-areas:
    "header header header"
    "nav nav nav"
    "left left right"
    "footer footer footer";
  grid-template-rows: 200px 100px 500px 200px;
  grid-gap: 10px 10px;
  margin: auto;
  position: relative;
}

.box {
  color: whitesmoke;
  border-radius: 5px;
  padding: 10px 10px;
}

h1, h2, h3 {
  font-family: monospace;
  text-align: center;
}

header {
  grid-area: header;
  background-color: teal;
}

nav {
  grid-area: nav;
  background-color: gray;
}

footer {
  grid-area: footer;
  background-color: black;
}

.left {
  grid-area: left;
  background-color: lightcoral;
}

.right {
  grid-area: right;
  background-color: teal;
}