---
import About from "@/components/About.astro";
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout>
	<section class="container grid items-center gap-6 pb-8 pt-6 md:py-10">
		<div class="flex flex-col gap-2">
			<div class="container lg:grid grid-row-6 grid-col-3 gap-6 pb-8 pt-6 md:py-10">
				<section id="hero" class="max-w-[720px] md:row-start-1">
					<h1 class="font-extrabold leading-tight tracking-tighter text-5xl lg:text-6xl">
					Hi, I'm <span class="bg-gradient-to-r from-cyan-500 to-indigo-400 bg-clip-text text-transparent">Jonathan Ruiz</span>, <br>a software developer.
					</h1>
					<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam sapiente sint ex quisquam ea autem hic itaque eligendi aut est nemo dignissimos optio, nulla earum quasi vel ipsum molestias omnis?</p>
				</section>
				<section class="max-w-[600px] row-start-4 col-start-1">
					<img src="../../public/imgs/coding-left.png" alt="Code editor left" />
				</section>
				<section id="about" class="row-start-4 col-start-2 lg:flex">
					<div class="mx-4">
						<img src="../../public/imgs/profile.jpg" alt="Jonathan Ruiz" class="rounded-full" />
					</div>
					<div>
						<h2 class="font-extrabold leading-tight tracking-tighter text-4xl bg-gradient-to-r from-cyan-500 to-indigo-400 bg-clip-text text-transparent mb-2">About Me</h2>
						<About />
					</div>
				</section>
			</div>
		</div>
	</section>
</MainLayout>
