---
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout>
	<section class="container grid items-center gap-6 pb-8 pt-6 md:py-10">
		<div class="flex flex-col gap-2">
			<div class="container lg:grid grid-row-6 grid-col-3 gap-6 pb-8 pt-6 md:py-10">
				<section id="hero" class="max-w-[720px] md:row-start-1">
					<h1 class="font-extrabold leading-tight tracking-tighter text-5xl lg:text-6xl">
					Hi, I'm <span class="bg-gradient-to-r from-cyan-500 to-indigo-400 bg-clip-text text-transparent">Jonathan Ruiz</span>, <br>a software developer.
					</h1>
					<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam sapiente sint ex quisquam ea autem hic itaque eligendi aut est nemo dignissimos optio, nulla earum quasi vel ipsum molestias omnis?</p>
				</section>
				<section class="max-w-[600px] flex items-center justify-center row-start-4 col-start-1 animate-bounce-slow">
					<img src="../../public/imgs/coding-left.png" alt="Code editor left" class="w-2/3"/>
				</section>
				<section id="about" class="row-start-4 col-start-2 lg:flex">
					<div class="mx-4 flex items-center justify-center">
						<img src="../../public/imgs/profile.jpg" alt="Jonathan Ruiz" class="rounded-full w-1/2" />
					</div>
					<div>
						<h2 class="font-extrabold leading-tight tracking-tighter text-4xl bg-gradient-to-r from-cyan-500 to-indigo-400 bg-clip-text text-transparent mb-2">About Me</h2>
						<div class='mt-4'>
							<p class="mb-2">I'm a Utah based software engineer doing all things full-stack development. I've had a passion for technology from a very young age and have worked in different parts of the industry, going anywhere from networking to cloud to DevOps. The one consistant thing that I've always been motivated to do is software development. I love the challenge of solving problems and building things that can make people's lives easier.
							</p>
							<p class="mb-2">I'm a Miami native from Nicaraguan and Honduran descent. I love to try new foods and travel to new places. I'm like to hike and chase any trail that ends with a waterfall. Currently struggling to learn how to play the piano and speak Italian. I genuinely enjoy expanding my knowledge and it suits me well since the tech industry is constantly evolving, presenting endless learning opportunities.
							</p>
						</div>
					</div>
				</section>
				<section class="row-start-5">
					<h2 class="font-extrabold leading-tight tracking-tighter text-4xl bg-gradient-to-r from-cyan-500 to-indigo-400 bg-clip-text text-transparent mb-2">Projects</h2>
				</section>
				<section class="row-start-6">
					<h2 class="font-extrabold leading-tight tracking-tighter text-4xl bg-gradient-to-r from-cyan-500 to-indigo-400 bg-clip-text text-transparent mb-2">Blog</h2>
				</section>
			</div>
		</div>
	</section>
</MainLayout>
