body {
  background-image: url("../images/site/background.jpg");
  background-size: cover;
}

#site-page {
  background-color: #ffffff;
  margin: 10px;
}

#page-nav {
  background-color: #de2226;
  padding: 10px 0;
}

#nav-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
}

#nav-list li {
  padding-left: 10px;
  padding-right: 10px;
}

#nav-list a {
  color: #ffffff;
  text-decoration: none;
}

#page-content {
}

#page-footer {
  text-align: center;
}

#page-footer p {
  margin: 0;
}

.hero-banner {
  color: #f00;
  position: relative;
}

.hero-banner img {
  width: 100%;
}

.featured {
  list-style: none;
  font-size: 10px;
  position: absolute;
  top: 0;
  right: 20px;
  padding: 0;
}

#actionbtn {
  width: 100px;
}

.food-recipes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.food {
  width: 100px;
  flex: 50%;
  text-align: center;
}

.food img {
  background-color: #d4d4d4;
  padding: 0 30px;
}

/* Small Screen */
@media screen and (max-width: 420px) {
  #page-header img {
    width: 200px;
  }

  #page-nav {
    font-size: 10px;
  }
}

@media screen and (min-width: 520px) {
  .featured {
    font-size: 16px;
  }
}

@media screen and (min-width: 600px) {
  .featured {
    font-size: 20px;
  }

  #content {
    display: flex;
  }
}
