body {
  background-image: url("../images/site/background.jpg");
  background-size: cover;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

#site-page {
  background-color: #ffffff;
  margin: auto;
  max-width: 1080px;
}

#page-nav {
  background-color: #de2226;
  padding: 10px 0;
}

#nav-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
}

#nav-list li {
  padding-left: 10px;
  padding-right: 10px;
}

#nav-list a {
  color: #ffffff;
  text-decoration: none;
}

#page-content {
}

#page-footer {
  text-align: center;
}

#page-footer p {
  margin: 0;
}

.hero-banner {
  color: #f00;
  position: relative;
}

.hero-banner img {
  width: 100%;
}

.featured {
  list-style: none;
  font-size: 2.5vw;
  position: absolute;
  top: 0;
  right: 20px;
  padding: 0;
}

#actionbtn {
  width: 30vw;
}

.food-recipes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.food {
  width: 100px;
  flex: 50%;
  text-align: center;
}

.food img {
  background-color: #d4d4d4;
  padding: 0 30px;
}

.product-img img {
  width: 100%;
}

.product-info h3 {
  font-size: 40px;
  color: #f00;
}

/* Small Screen */
@media screen and (max-width: 420px) {
  #page-header img {
    width: 200px;
  }

  #page-nav {
    font-size: 10px;
  }
}

@media screen and (min-width: 520px) {
}

@media screen and (min-width: 600px) {
  #content {
    display: flex;
  }

  .recipes {
    order: -1;
  }

  .products {
    display: flex;
  }

  .product-img {
    width: 50%;
    text-align: center;
  }

  .product-img img {
    width: unset;
  }

  .product-info {
    width: 50%;
  }

  .product-info p {
    font-size: 25px;
  }
}

@media screen and (min-width: 768px) {
  #nav-list {
    font-size: 30px;
  }

  h2 {
    font-size: 35px;
  }
}
