---
---

<div class='mt-4'>
    <p class="mb-2">I'm a Utah based software engineer doing all things full-stack development. I've had a passion for technology from a very young age and have worked in different parts of the industry, going anywhere from networking to cloud to DevOps. The one consistant thing that I've always been motivated to do is software development. I love the challenge of solving problems and building things that can make people's lives easier.
    </p>
    <p class="mb-2">I'm a Miami native from Nicaraguan and Honduran descent. I love to try new foods and travel to new places. I'm like to hike and chase any trail that ends with a waterfall. Currently struggling to learn how to play the piano.
    </p>
</div>