---
import {  
  Card,
  CardContent,
  CardDescription,
  CardFooter } from '@/components/ui/card'
---

<Card>
    <CardContent className='m-4'>
        <CardDescription>
            <p>I'm a Utah based software engineer doing all things full-stack development. I've had a passion for technology from a very young age and have worked in different parts of the industry, going anywhere from networking to cloud to DevOps. The one consistant thing that I've always been motivated to do is software development. I love the challenge of solving problems and building things that can make people's lives easier.</p>
        </CardDescription>
    </CardContent>
    <CardFooter>
        <button>Button</button>
    </CardFooter>
</Card>