---
import { Card, CardContent, CardDescription, CardFooter, CardTitle } from "@/components/ui/card";
import { Badge } from "@/components/ui/badge";
import { siteConfig } from "config/site";
import { buttonVariants } from "./ui/button";
import { Icons } from "./icons";
---

<div class="grid grid-cols-1 lg:grid-cols-3 gap-5">
    {siteConfig.projects.map(project => {
        return (
            <Card className="w-full col-span-1 max-w-[700px] lg:col-span-auto">
                <CardContent>
                    <CardTitle className="flex mt-4 justify-between items-center">
                        {project.title}
                        <div>
                            <a
                                href={project.githubRepo}
                                target="_blank"
                                rel="noreferrer"
                            >
                                <div
                                    class={buttonVariants({
                                        size: "sm",
                                        variant: "ghost",
                                    })}
                                >
                                    <Icons.gitHub className="h-5 w-5" />
                                    <span class="sr-only">GitHub</span>
                                </div>
                            </a>
                        </div>
                    </CardTitle>
                    <CardDescription>{project.description}</CardDescription>
                </CardContent>
                <CardFooter className="flex flex-wrap">
                        {project.tags.map(tag => {
                            return (
                                <Badge className="mr-2 mb-2">{tag}</Badge>
                            )
                        })}
                </CardFooter>
            </Card>
        )
    })}
</div>