---
import { Card, CardContent, CardDescription, CardFooter, CardTitle } from "@/components/ui/card";
import { Badge } from "@/components/ui/badge";
import { siteConfig } from "config/site";
---

<div class="flex space-x-5 items-stretch">
    {siteConfig.projects.map(project => {
        return (
            <Card>
                <CardContent>
                    <CardTitle>{project.title}</CardTitle>
                    <CardDescription>{project.description}</CardDescription>
                </CardContent>
                <CardFooter className="gap-2">
                    {project.tags.map(tag => {
                        return (
                            <Badge>{tag}</Badge>
                        )
                    })}
                </CardFooter>
            </Card>
        )
    })}
</div>