---
import { Card, CardContent, CardDescription, CardFooter, CardTitle } from "@/components/ui/card";
import { siteConfig } from "config/site";
---

<div>
    {siteConfig.projects.map(project => {
        return (
        <Card>
            <CardContent>
                <CardTitle>{project.title}</CardTitle>
                <CardDescription></CardDescription>
            </CardContent>
            <CardFooter>
            </CardFooter>
        </Card>
        )
    })}
</div>