---
import ThemeIcon from "@/components/ThemeIcon.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.svg" />
    <title>Document</title>
  </head>
  <body class="transition-all">
    <div class="flex gap-6 md:gap-10">
			<div class="flex items-center space-x-2">
				<span class="inline-block font-bold">Jonathan Ruiz</span>
				<ThemeIcon />
			</div>
		</div>
    <slot />
  </body>
</html>
