---
import ThemeIcon from "@/components/ThemeIcon.astro";
import "@/styles/globals.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.svg" />
    <title>Portfolio</title>
  </head>
  <body class="transition-all">
    <div class="flex gap-6 md:gap-10">
			<div class="flex items-center space-x-2">
				<ThemeIcon />
			</div>
	</div>
	<section class="container grid items-center gap-6 pb-8 pt-6 md:py-10">
		<div class="flex max-w-[980px] flex-col gap-2">
			<section class="container grid items-center gap-6 pb-8 pt-6 md:py-10">
				<slot />
			</section>
		</div>
	</section>
  </body>
</html>
