---
import ThemeIcon from "@/components/ThemeIcon.astro";
import "@/styles/globals.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.svg" />
    <title>Portfolio</title>
  </head>
  <body class="transition-all">
	<div class="relative flex min-h-screen flex-col">
		<header class="sticky top-0 z-40 w-full bg-background">
            <div class="container flex h-16 items-center space-x-4 sm:justify-between sm:space-x-0">
                <div class="flex flex-1 items-center justify-end space-x-4">
                    <nav class="flex items-center space-x-1">
                        <ThemeIcon />
                    </nav>
                </div>
            </div>
        </header>
	</div>
  </body>
</html>
